
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    background: linear-gradient(to right, #F1F1F1,#cf9e9e ) ;
    cursor: none;
    overflow: hidden;
}
.cursor{
    margin: 2rem 2rem;
    z-index: 1000;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 22% 78% 0% 100% / 18% 100% 0% 82% ;
    border: 1px solid #000;
    animation: borderAnim 4s ease-in-out infinite alternate ;
    pointer-events: none ;
    transition: transform 0.4s ease-in-out;

}
.hovered{
    background-repeat: no-repeat;
    background-position: 0 -15px;
    background-size: cover;
    transform: scale(3.5);
}

@keyframes borderAnim{
    0%{
        border-radius: 0% 100% 19% 81% / 0% 81% 19% 100% ;
    }
    50%{
        border-radius: 27% 73% 19% 81% / 19% 81% 19% 81% ;
    }
    100%{
        border-radius: 14% 86% 0% 100% / 14% 100% 0% 86% ;
    }
}

nav{
    margin-top: 5rem;
    position: absolute;
    width: 600px;
    top: 45%;
    left: 55%;
    transform: translate(-50%,-50%);
}
nav ul {
   list-style-type: none;
}
nav ul li{
    font-size: 8rem;
    color: #000;
    text-align: center;
    padding: 1rem;
    font-weight: 100;
    width: 40%;
}
